.conteiner,
.conteiner-conteudo3,
.conteiner-conteudo4,
.conteiner-conteudo5,
.conteiner-conteudo8,
.conteiner-conteudo9,
.conteiner-conteudo10,
.conteiner-conteudo11,
.conteiner-conteudo12,
.conteiner-conteudo13,
.conteiner-conteudo14,
.conteiner-conteudo15,
.conteiner-conteudo17,
.conteiner-conteudo18,
.conteiner-conteudo19 {
  max-width: 600px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.conteinerCalendario {
  width: 100%;
  max-width: 700px; /* Não cresce mais que isso */
  margin: auto;
  padding: 10px;
  overflow-x: auto; /* Se for muito estreito, permite rolagem horizontal */
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
}

main {
  background: #000000;
  color: #fff;
  font-family: sans-serif;
  height: 100%;
  left: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

section {
  margin: auto;
  width: 170px;
}

.btn {
  background: #a52df4;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  width: 80px;
}

.btn.btn-yes {
  display: block;
  position: fixed;
}

.btn.btn-no {
  position: absolute;
}

/* Coração pulsante */

.loading-heart {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  margin: auto auto 30px auto;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}

.loading-heart span {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #a52df4;
  animation: loading-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loading-heart span:after,
.loading-heart span:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #a52df4;
}

.loading-heart span:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.loading-heart span:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes loading-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
